{% extends 'base.html' %}
{% block menu %}
   <li><a href="{% url 'status_create' %}">Add Status</a></li>
{% endblock %}
{% block content %}
   <h1>Statuses:</h1>
   <hr/>
    <form method="POST" action="{% url "index"  %}">
        {% csrf_token %}
   {% for status in statuses %}
       <h2><input type="checkbox" value="{{ status.pk }}" id="{{ status.pk }}" name="del" > {{ status.status }}</h2>
       <a href="{% url 'status_update' status.pk %}">Edit</a>

       <a href="{% url 'status_delete' status.pk %}">Delete</a>

       <hr/>
   {% endfor %}

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Delete
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure want to delete task?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer" style="justify-content: center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" value="Delete" class="btn btn-primary">
          </div>
        </div>
      </div>
    </div>

    </form>
{% endblock %}