{% extends 'base.html' %}
{% block menu %}
<a class="navbar-brand" href="{% url 'create_view' %}">Add Task+</a>
    <a class="navbar-brand" href="{% url 'types_view' %}">Types</a>
   <a class="navbar-brand" href="{% url 'status_view' %}">Statuses</a>
   <a class="navbar-brand" href="{% url 'project_list' %}">Projects</a>

{% endblock %}
{% block content %}
    <h1 class="mt-3">This is To Do list</h1>
    <div class="row">
    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}
        {% for task in tasks %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-text"><a href="{% url 'task_view' task.pk %}">{{ task.description }}</a>
                        </h3>
                        <p class="card-text">status: {{ task.status }}</p>
                        <p class="card-text">type: {{ task.type }}</p>
                        <p class="card-text">data: {{ task.date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}