{% extends 'base.html' %}
{% block menu %}
   <li><a href="{% url 'webapp:type_create' %}">Add Type</a></li>

{% endblock %}
{% block content %}
   <h1>Types:</h1>
   <hr/>
    <form method="POST" action="{% url "webapp:index"  %}">
        {% csrf_token %}
   {% for type in types %}
       <h2><input type="checkbox" value="{{ type.pk }}" id="{{ type.pk }}" name="del" > {{ type.type }}</h2>
       <a href="{% url 'webapp:type_update' type.pk %}">Edit</a>

       <a href="{% url 'webapp:type_delete' type.pk %}">Delete</a>

       <hr/>
   {% endfor %}

    </form>
{% endblock %}