body{
    background-color: aqua;
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
}

.navbar-brand{
    margin-right: 40px;
}

.pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination a, .page-disabled, .page-active {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
   background: #6a7dff;
   text-decoration: underline;
}

.search1{
    margin-left: auto;
}

.