{% csrf_token %}

{% for error in form.non_field_errors %}
   <p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.errors %}
        {{ field }}
        {% for error in field.errors %}
            <p class="form_error">{{ error }}</p>
        {% endfor %}
    {% else %}
        {{ field }}<br/>
    {% endif %}
    <br/>
{% endfor %}
<br/>
<p class="text-center"><input type="submit" value="{{ button_text }}" class="btn btn-primary"></p>
